<div class="single-cmp">
	<div *ngIf="film" class="film-single-wrapper">
		<div class="film-single-left">
			<img src="{{imgPath + film.poster_path}}" class="img-rounded" (click)="openHomePage(film?.homepage)">
			<!-- <div class="actions">
				<button *ngIf="!film.isBookmark;else book" mat-icon-button color="primary" (click)="bookFilm(film)">
					<i class="material-icons">
						bookmark
					</i>
				</button>
				<button *ngIf="!film.isFavorite;else fab" mat-icon-button color="primary" (click)="starFilm(film)">
					<i class="material-icons">star</i>
				</button>
			</div> -->
		</div>
		<div class="film-single-right">
			<div class="film-title">
				<h1>{{film?.title}} </h1>
				<h2><a href="{{film?.homepage}}">{{film?.homepage}}</a></h2>
			</div>
			<div class="film-properties">
				<div>
					<p><b>Бюджет:</b> {{film?.budget}} USD</p>
					<p><b>Дата выхода:</b> {{film?.release_date}}</p>
				</div>
				<div>
					<p><b>Жанры:</b> {{genres}}</p>
					<p><b>Длительность:</b> {{film?.runtime}} минут</p>
				</div>

			</div>

			<p><b>{{film?.tagline}}</b></p>
			<p>{{film?.overview}}</p>

			<mat-tab-group>
				<mat-tab label="Актеры">
					<h1>Актеры</h1>

					<div *ngIf="actors" class="actors-wrapper">
						<div *ngFor="let actor of actors">
							<mat-card class="actor-card">
								<img class="actor-img" mat-card-image src="{{imgPath + actor.profile_path}}" alt="{{[actor].title}}" onerror="this.onerror=null;this.src='../../../assets/4.jpg'"
								 title="{{actor.title}}">
								<img class="actor-img-big" mat-card-image src="{{imgPath + actor.profile_path}}" alt="{{[actor].title}}"
								 onerror="this.onerror=null;this.src='../../../assets/4.jpg'" title="{{actor.title}}">

								<div class="spacer"></div>
								<div class="actor-name">{{actor.name}}</div>

							</mat-card>
						</div>
					</div>


				</mat-tab>
				<mat-tab label="Трейлеры">
					<h1>Трейлеры</h1>
					<div *ngFor="let video of videosLinks">
						<div class="videoFrame">
							<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(video)" width="640" height="360" frameborder="0"
							 allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</mat-tab>
				<mat-tab label="Кадры из фильма">
					<h1>Кадры из фильма</h1>
					<p>...</p>

					<div *ngIf="images" class="image-wrapper">
						<div *ngFor="let image of images">
							<div class="image-card">
								<img class="card-img-poster" src="{{imgPath + image.file_path}}" alt="{{[actor].title}}" onerror="this.onerror=null;this.src='../../../assets/4.jpg'"
								 title="">
								<img class="card-img-poster-big" src="{{imgPath + image.file_path}}" alt="{{[actor].title}}" onerror="this.onerror=null;this.src='../../../assets/4.jpg'"
								 title="">


							</div>
						</div>
					</div>

				</mat-tab>
			</mat-tab-group>

		</div>
	</div>
	<div class="back-btn">
		<button class="single-btn" mat-raised-button color="primary" (click)="goBack()">назад</button>
	</div>
</div>